snippet desc
	describe("${1}", function() {
		${2}
	});
snippet it
	it("${1}", function() {
		${2}
	});
snippet bef
	beforeEach( function() {
		${1}
	});
snippet ex
	expect(${1}).${2}
snippet de
	deep.equal(${1})
